<form (ngSubmit)="verInformacionMensual()" autocomplete="off" class="grid p-fluid mt-5 mx-auto">
    <div class="field col-12 md:col-3">
        <label for="basic" class="text-layout">Terid</label>
        <input type="text" name="terid" pInputText [(ngModel)]="formDispositivos.terid" />
    </div>
    <div class="field col-12 md:col-3">
        <label for="dateformat" class="text-layout">Fecha Inicio</label>
        <p-calendar [(ngModel)]="formDispositivos.fechaInicio" name="fecha-inicio">
        </p-calendar>
    </div>
    <div class="field col-12 ">
        <button type="submit" pButton label="Ver Informacion"></button>
    </div>
</form>

<p-table [value]="videos.data">
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Tipo de archivo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video>
        <tr>
            <td>{{video.date}}</td>
            <td>{{video.filetype}}</td>
        </tr>
    </ng-template>
</p-table>
